<nav class="navbar">

  <div class="search-box">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search tasks...">
  </div>

  <div class="nav-right">

    <button class="icon-btn">
      <i class="bi bi-bell"></i>
    </button>

    <div class="profile">
      <img
        src="https://ui-avatars.com/api/?name=Nidhi&background=4F46E5&color=fff"
        alt="Profile">

      <div>
        <h6>Nidhi</h6>
        <small>Project Manager</small>
      </div>

    </div>

  </div>

</nav>