<nav class="navbar">

  <div class="page-title">
   <h3>{{ pageTitle }}</h3>
<span>{{ pageSubtitle }}</span>
  </div>

  <div class="navbar-right">

    <!-- Notifications -->
    <div class="notification-container">

      <button
        class="icon-btn"
        (click)="toggleNotifications()">

        <i class="bi bi-bell"></i>

        @if(notifications.length > 0){
          <span class="badge">
            {{ notifications.length }}
          </span>
        }

      </button>

      @if(showNotifications){

      <div class="notification-menu">

        <h5>Notifications</h5>

        @if(notifications.length > 0){

          @for(task of notifications; track task.id){

            <div class="notification-item">

              <strong>{{ task.title }}</strong>

              <small>Due: {{ task.dueDate }}</small>

            </div>

          }

        } @else {

          <p class="empty">
            No upcoming tasks 🎉
          </p>

        }

      </div>

      }

    </div>

    <!-- Profile -->

    <div class="profile-container">

      <div
        class="profile"
        (click)="toggleProfileMenu()">

        <img
          src="https://ui-avatars.com/api/?name=Nidhi&background=4F46E5&color=fff"
          alt="Profile">

        <div class="profile-details">

          <h6>Nidhi</h6>

          <small>Project Manager</small>

        </div>

        <i class="bi bi-chevron-down"></i>

      </div>

      @if(showProfileMenu){

      <div class="profile-menu">

        <a routerLink="/app/settings">
          <i class="bi bi-person"></i>
          My Profile
        </a>

        <a routerLink="/app/settings">
          <i class="bi bi-gear"></i>
          Settings
        </a>

        <hr>

        <button (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </button>

      </div>

      }

    </div>

  </div>

</nav>